
# PlanAhead Generated physical constraints 

NET "L0" LOC = P18;
NET "L1" LOC = P23;
NET "L2" LOC = P26;
NET "L3" LOC = P33;
NET "L4" LOC = P35;
NET "L5" LOC = P40;
NET "L6" LOC = P53;
NET "L7" LOC = P57;
NET "CLK" LOC = P89;

# PlanAhead Generated IO constraints 

NET "CLK" IOSTANDARD = LVCMOS33;
NET "L0" IOSTANDARD = LVCMOS33;
NET "L1" IOSTANDARD = LVCMOS33;
NET "L2" IOSTANDARD = LVCMOS33;
NET "L3" IOSTANDARD = LVCMOS33;
NET "L4" IOSTANDARD = LVCMOS33;
NET "L5" IOSTANDARD = LVCMOS33;
NET "L6" IOSTANDARD = LVCMOS33;
NET "L7" IOSTANDARD = LVCMOS33;
